<section id="about">
    <div class="right">
        <span><img class="picture" src="/assets/png/picture.png" alt="foto vetorizada"> </span>
        <article>
            <h1>Olá! Sou Bruno Vieira!</h1>
            <p>Tenho 22 anos, sou de Espirito Santo, nascido em Vitória.</p>
            <p>Vivi minha infância até os 9 anos em Vila Velha, depois disso, minha família se mudou para Rondônia onde moramos por 4 anos. Por fim, viemos para o Amazonas, mais especificamente Presidente Figueiredo, onde moramos por mais incríveis 4 anos.</p>
            <p>Com 17 aninhos passei para Engenharia Elétrica Eletrônica na UFAM, e vim sofrer em Manaus como universitário.</p>
        </article>
    </div>

    <div class="left">
        <svg class="code" version="1.1" viewBox="-125 0 500 250" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <text id="body" x="57.510033" y="147.13686" fill="#000000" font-family="sans-serif" font-size="74.936px" style="line-height:1.25" xml:space="preserve">
                <tspan class="code" x="57.510033" y="147.13686" fill="#fff" font-family="'Courier New'" font-weight="bold">{{ code.text }}</tspan>
            </text>    
        </svg>

        <article>
            <p>A primeira linguagem que aprendi foi o Python. A partir disso, me apaixonei por programação.</p>
            <p>Comecei a Desenvolver para Web devido uma aula que assisti por acidente no laboratório de informática do IComp (Instituto de Computação da UFAM). Passei a estudar HTML e CSS através da videos do yotube e outros conteúdos online.</p>
            <p>Depois de um tempo, as linguagens de formatação não eram mais suficentes, e então ingressei no JavaScript e JQuery.</p>
        </article>
    </div>

    <div class="right">
        <span><img src="/assets/svg/angular.svg" alt="logo da framework angular"></span>
        <article>
            <p>Depois de ja ter usado e abusado muito destes brinquedinhos e me divertido bastante, foi quando me apresentaram o famingerado Angular.</p>
            <p>Desde então, tenho estudado esta framework com bastante afinco. Este portifólio, por exemplo, foi desenvolvido com Angular ;)</p>
        </article>
    </div>

    <div class="left">
        <span><img src="/assets/svg/tux.svg" alt="tux, mascote do Linux"></span>

        <article>
            <p>Desde que me entendo por gente, venho usando o Linux como sistema operacional padrão, isso por influência do meu pai, e agradeço muito a ele por isso.</p>
            <p>Graças a isso, tenho bastante habilidade com o editor de vetores Inkscape e aprendi a animar SVG's com CSS de um tempo pra cá, mas ainda estou me aperfeiçoando nisso.</p>
        </article>
    </div>

    <div class="right">
        <span><img src="/assets/svg/database.svg" alt="teste"></span>

        <article>   
            <p>Minha meta atual é aprender MySQL e MongoDB, além disso pretendo ingressar em React assim que tiver uma conhecimento solido das linguagens de Banco de Dados.</p>
            <p>E a meta é sempre aprender mais e nunca ter ficar sem meta.</p>
        </article>
    </div>
</section>