#home {
    width: 100%;
    height: 97vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: #0f468c;
    background-image: url('../../../assets/svg/pattern_background_light.svg');
    background-size: 40%;

    .logo {
        width: 200px;
    }

    #title {
        width: 27.5%;
        min-height: 120px;

        font-family: 'Dancing Script', 'Courier New', Courier, monospace;
        // fill: transparent;
        fill: #0f468c;

        stroke-width: .3px;
        stroke: #0f468c;

        stroke-dasharray: 130;
        stroke-dashoffset: 0;

        transform: translateY(-40px);

        animation: draw-text 2s ease-in-out backwards;
    }
    @keyframes draw-text {
        from {
            stroke-dasharray: 130;
            stroke-dashoffset: 130;

            fill: transparent;
        }

        80% {
            stroke-dasharray: 130;
            stroke-dashoffset: 0;

            fill: transparent;
        }
    }

    .subtitle {
        height: 2rem;

        font-family: 'Courier New', Courier, monospace;
        font-size: 1.4rem;
        font-weight: 500;

        transform: translateY(-40px);
    } .subtitle::after {
        content: '▌';

        animation: blink .5s linear infinite;
    }
    @keyframes blink {
        from { color: transparent; }
        49% { color: transparent; }
        50% { color: #0f468c; }
        to { color: #0f468c; }
    }

    .arrow {
        width: 100px;
        margin-top: 25px;

        cursor: pointer;

        animation: appear-arrow .5s ease-in-out 2s backwards;
    }
    @keyframes appear-arrow {
        from { opacity: 0; }
    }

}

@media screen and (max-width: 900px) {
    #home {
        #title { width: 350px; }
    }
}

@media screen and (max-width: 600px) {
    #home {
        height: 98vh;

        .logo, p { margin: 0 0 10px 0; }

        .logo { width: 100px; }

        #title{ width: 250px; }

        .subtitle { 
            width: 60%;
            max-width: 330px;
            font-size: 1.05rem;
            text-align: center;
        }

        .arrow {
            width: 75px;
        }
    }
}

@media screen and (max-width: 380px) {
    #home {
        height: 100vh;

        .logo, p, svg { margin: 0; }

        .logo { width: 50%; }
        #title { width: 80%; }
        .subtitle { font-size: .8rem; }
        .arrow { width: 30%; }


    }
}