<section id="home">
    <img class="logo" src="/assets/svg/logo.svg" alt="logotipo">
    <svg id="title" enable-background="new 0 0 250 250" version="1.1" viewBox="0 0 120 30" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
        <text x="9.2597523" y="24.371483" font-size="29.61px" style="line-height:1.25" xml:space="preserve"><tspan x="9.2597523" y="24.371483" font-size="29.61px">VieiraBC</tspan></text>
    </svg>
    
    <p class="subtitle">{{ subtitle.text }}</p>

    <img class="arrow" src="/assets/svg/arrow.svg" alt="rolar para baixo" (click)="scrollTo('about')">
</section>