<mat-toolbar id="contact">
    
    <img class="logo example-button" src="/assets/svg/logo.svg" alt="logotipo" (click)="scrollTo('home')"
    matTooltip = "Voltar ao Topo" matTooltipPosition = "above" matTooltipClass="example-tooltip-red">

    <ul>
        <li class="linkedin"><a><img src="/assets/svg/media/linkedin.svg" alt="linkedin"></a></li>
        <li class="github"><a><img src="/assets/svg/media/github.svg" alt="github"></a></li>
        <li class="instagram"><a><img src="/assets/svg/media/instagram.svg" alt="instagram"></a></li>
        <li class="facebook"><a><img src="/assets/svg/media/facebook.svg" alt="facebook"></a></li>
        <li class="gmail"><a><img src="/assets/svg/media/gmail.svg" alt="gmail"></a></li>
    </ul>

    <p class="follow-me">Siga-me nas redes!<i class="material-icons middle">sentiment_very_satisfied</i></p>

    <span class="spacer"></span>

    <p class="dev">Webdeveloped by VieiraBC;</p>
</mat-toolbar>